[submodule "vimfiles/bundle/neobundle.vim"]
	path = vimfiles/bundle/neobundle.vim
	url = http://github.com/Shougo/neobundle.vim
[submodule "vimfiles/bundle/vimproc"]
	path = vimfiles/bundle/vimproc
	url = http://github.com/Shougo/vimproc
